@use '../variables' as *;
@use '../mixins' as *;

body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: url('/base_assets/image/background.webp');
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}
